body {
    background: lightblue;
    font-family: fantasy;
    margin:0;
  }

h1 {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    margin: 0;
    background-color: white;
    padding: 30px;
}

.computer-container {
    display: flex;
    justify-content: center;
}

img {
    max-width: 150px;
}

.computer-container img {
    max-width: 300px;
}

.computer-selection, .player-selection {
    display: flex;
    justify-content:center;
    gap: 5rem;
    padding-top: 2rem;
}


.main-screen {
    display: flex;
    justify-content: center;
    min-height: 100px;
    margin: 75px;
}
 

.screen-container {
    display:flex;
    flex-direction: column;
    display:flex;
    /* background-color: white; */
    min-height: 100px;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
}

.scoreboard {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%
}

.screen {
    margin-top: 5rem;
}


.player-selection img:hover {
    cursor: pointer;
    /* transform:scale(1.1) */
}

.played {
    transform:scale(1.5);
}

.restart-button button {
    font-size: 1.2rem;
    padding: 5px 10px;
    font-family: inherit;
}

button:hover {
    cursor: pointer;
}
  